# Git
*.rej
*.orig

# Make
dist/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Eclipse
.classpath
.project
.settings

#vim
*.swp

#Node.js
node
node_modules
npm-debug.log

#Oxygen
__MACOSX

#OSX
.DS_Store


.gitreview

vendor
