# Git
*.rej
*.orig

# Make
dist/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Eclipse
.classpath
.project
.settings

#vim
*.swp

#Node.js
node
node_modules
npm-debug.log

#Oxygen
__MACOSX

#OSX
.DS_Store


.gitreview


.gradle
.gogradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# VS Code
.vscode
